<div class="page-title-container">
<h1 class="page-title p-2">Your Dashboard</h1>
</div>

<div class="post">
    <h3>Create a New Post:</h3>

    <form class="form new-post-form">
      <div class="form-group">
        <label for="post-name">Title</label>
        <input class="form-input" type="text" id="post-name" name="post-name" />
      </div>
      <div class="form-group">
        <label for="post-desc">Content</label>
        <textarea class="form-input" id="post-desc" name="post-desc"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary submit-button">Create</button>
      </div>
    </form>
</div>

<script src="../js/addPost.js"></script>
