<div class="page-title-container">
<h1 class="page-title p-2">Your Dashboard</h1>
</div>

<!-- Loop over each object in the posts array -->
{{#each posts as |post| }}
<div class="post">
  <div class="display-flex justify-space-between  post-header">
    <h2>
      <a href="/dashboard/{{post.id}}">{{post.name}}</a>
    </h2>
    <p class="post-byline">{{format_date post.date_created}}</p>
  </div>
  <div >
  </div>
</div>
{{/each}}

<a href="/newPost" class="btn btn-primary add-post-button"><b>+ New Post</b></a>
